
  <select id="category-<%= label %>" name="category_id" class="mdb-select validate md-form">
    <%if (category.length > 0) { %> 
        <option value="" disabled selected>Choose a Category</option>
        <% for(let i=0; i < category.length; i++) { %>
            <option name="category_id" value="<%= category[i].category_id %>"><%= category[i].category_name %></option>
        <% } %>
    <% } %>
</select>

<select id="sub-category-<%= label %>" name="sub_category_id" class="mdb-select validate md-form">
    <%if (category.length > 0) { %> 
        <% for(let i=0; i < category.length; i++) { %>
            <%if (category[i].sub_categories.length > 0) { %> 
                <option value="" data-value="<%=category[i].category_id%>" disabled selected>Choose a Sub_category</option>
                <% for(let j=0; j < category[i].sub_categories.length; j++) { %>
                    <option name="sub-category_id" value="<%= category[i].sub_categories[j].sub_category_id %>" data-value="<%=category[i].category_id%>"><%= category[i].sub_categories[j].sub_category_name %></option>
                <% } %>
            <% } %>
        <% } %>
    <% } %>
</select>
