<%- include ("../partials/head", {title:"Post", css:"../../singlePost.css"}) -%>
<header class="d-flex justify-content-between align-items-center mt-4">
    <%- include('../partials/index/'+header) -%>
</header>
<body>

    <%- include('../partials/singlepost/body') -%>
    <%- include('../partials/singlepost/transaction') -%>
    <%- include('../partials/script', {javascript:"index.js"}) -%>   
</body>

</html>
<%- include ("../partials/head", {title:"Post", css:"../../singlePost.css"}) -%>
​